.container {
  max-width: 1400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.demo-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}
